#header { width: 940px; float: left; background: url(../images/header.gif) no-repeat; height: 120px; }

#header a#logo { display: block; width: 220px; height: 100px; outline: 0; text-indent: -999em; overflow: hidden; float: left; margin: 10px 0; }
